* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    font: 20px sans-serif;
}

h1 {
    font-size: 4rem;
    color: azure;
    letter-spacing: 3px;
}

h2 {
    font-size: 2.5rem;
    color: azure;
}

.about {
    background-color: #CF8E80;
    text-align: center; 
    width: 100%;
    height: 90vh;
    align-content: center;
    justify-content: center;
}

.about__content--resume {
    margin-top: 5.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: azure;
}

.container {
    margin: auto 8rem;
    text-align: center;
}

#dark-text {
    color: #3b3838;
}

.header {
    background-image: url('../images/david-wirzba-1346150-unsplash.jpg');
    background-position-y: -11rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-content: center;
    justify-content: center;
    position: relative;
}

.header:after {
    content: "";
    display: flex;
    position: absolute; 
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(173, 9, 9, 0.55);
  }

.header__bar {
    display: flex;
    flex-direction: row;
    height: 5rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 15;
}

.header__logo {
    margin-left: 2rem;
}

.header__main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    z-index: 15;
}

.header__nav {
    display: flex;
    flex-direction: row;
}

.header__nav--item {
    list-style: none;
    margin-right: 2rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    color: azure;
    margin-top: 1rem;
    word-wrap: normal;
}

.portfolio {
    background-color: azure;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    align-content: center;
    justify-content: center;
}

.portfolio__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 2rem;

}

.tool-tags {
    font-size: 13px;
    font-style: italic;
}
