* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    margin: auto;
}

.about__left {
    grid-column-start: 1 /span 1;
    border-style: solid;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    background-color: #0d1d35;
}

.about__right {
    grid-column-start: 2 /span 1;
    border-style: solid;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    background-color: #0d1d35;
    max-height: auto;
    max-width: auto;
}

.carousel {
    max-width: 600px;
    max-height: 200px;
    margin: auto;
    display: flex;
    overflow: hidden;
    position: relative;
    margin-bottom: 6rem;
}

.container {
    width: 100%;
    background-color: #fdf9f1;
}

.follow {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-column-gap: 1.5rem;
    margin: auto;
}

.follow__left {
    grid-column-start: 1 /span 2;
    border-style: solid;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    background-color: #0d1d35;
}

.follow__middle {
    grid-column-start: 3 /span 3;
    border-style: solid;
    margin-top: 1.5rem;
    background-color: #0d1d35;
    max-height: auto;
    max-width: auto;
}

.follow__right {
    grid-column-start: 4 /span 2;
    border-style: solid;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    background-color: #0d1d35;
    max-height: auto;
    max-width: auto;
}

.forward {
    cursor: pointer;
    position: absolute;
    top: 25%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px 0 0 3px;
    user-select: none;
    right: 0;
}

html {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

li {
    list-style: none;
}

.main {
    background-color: #0d1d35;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    position: relative;
}

.main__center {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

.main__center--name {
    align-self: center;
    margin: 5rem auto;
}

.modal__hospital {
    display: none;
    position: fixed;
    z-index: 3;
    top: 10%;
    left: 10%; 
    width: 80%;
    height: 80%;
    overflow: none;
    background-color: blue;
}

.modal__hospital--button {
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 25%;
}

.modal__pet {
    display: none;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 10%; 
    width: 80%;
    height: 80%;
    overflow: none;
    background-color: blue;
}

.modal__pet--button {
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 25%;
}

.modal__portfolio {
    display: none;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 10%; 
    width: 80%;
    height: 80%;
    overflow: none;
    background-color: blue;
}

.modal__portfolio--button {
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 25%;
}

.modal__tech {
    display: none;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 10%; 
    width: 80%;
    height: 80%;
    overflow: none;
    background-color: blue;
}

.modal__tech--button {
    border-style: solid;
    border-width: 30px;
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.previous {
    cursor: pointer;
    position: absolute;
    top: 25%;
    width: auto;
    padding: 14px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    left: 0;
}

.portfolio {
    background-color: #0d1d35;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.portfolio__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.portfolio__image {
    max-width: 275px;
    z-index: 2;
    position: relative;
}

.portfolio__thumbnail {
    max-width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.profilepic {
    width: 100%;
}

.show__modal {
    display: block;
}

.show__tech__modal {
    display: block;
    z-index: 10;
}

