* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #0d1d35;
}

html {
    font-family: 'Times New Roman', Times, serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 90%;
    background-color: white;
    margin: auto;
}

.header {
    background-image: url(../images/header\ image\ -\ night\ sky.jpg);
    height: 120vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

li {
    list-style: none;
}

.nav__desc {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.nav__hidden {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    background-color: white;
    position: absolute;
    right: 0;
    width: auto;
    display: none;
    
}

.nav__hidden--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #0d1d35;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}

.nav__name {
    color: white;
    font-size: 32px;
    text-align: left;
}

.show {
    display: block;
}

.nav--mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

